
/* Mobile media queries  ---------------------- */
@media #{$small-only} {

  .small-light {
    color: #fff;
  }
  
  #jetpacks li p, #gadgets li p {
    font-size: 13px !important;
    line-height: 1.3;
  }
  
  #content .content-video {
    .intro {
      padding-top: 0;
    }
  }

}  
