* {
  box-sizing: border-box;
}

/*  Default body styles ---------------------- */
html {
  background: $color-yellow;
}

body {
  color: $color-text;
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
  font-weight: $light;
  line-height: 1.5;
  position: relative;
  /*background: $color-yellow;*/
}

/* Miscellaneous useful HTML classes ---------------------- */
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.hidden {
  display: none;
}
.hidden-small {
  display: none;
}
.hide {
  opacity: 0;
}

// Antialiased font smoothing works best for light text on a dark background.
.antialiased {
  -webkit-font-smoothing: antialiased;
}

small {
  font-size: $font-size-small;
}

/* Links  ---------------------- */

a {
  color: $color-blue;
  text-decoration: none;
  @include vendor-prefix(transition, all 0.15s ease-out);

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: darken($color-blue, 15%);
  }
}

/* Lists  ---------------------- */

ul,
ol {
  li {
    margin-bottom: $base-padding/2;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: $strong;
  color: $color-dark-blue;
}

h2 {
  margin: 0;
  margin-bottom: $base-padding/2;
  padding: 0;
}

h3 {
  margin-bottom: $base-padding/4;
  font-size: $font-size-medium;
}

h4 {
  font-size: $font-size-base;
}

/* Content  ---------------------- */

.home-header {
  background: $color-yellow;
  font-weight: $normal;
  z-index: 90;
  position: relative;

  #header {
    padding: $base-padding*2 0;
  }

  h1 {
    margin: 0;
    color: $color-text-yellow;

    img {
      display: block;
      max-height: 140px;
      clear: both;
      margin: 0 auto;
      margin-bottom: $base-padding/4;
    }

    span {
      color: $color-red;
    }
  }
}

.home-header,
.page-cta {
  background: $color-yellow;
  color: $color-text-yellow;
  text-align: center;

  h2 {
    font-weight: normal;
    color: $color-red;
    font-size: $font-size-normal;

    a {
      color: $color-text-yellow;
    }
  }

  h3 {
    font-size: $font-size-normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    margin: 0;
  }

  ul {
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: $font-size-small;
    letter-spacing: 0.1em;
  }

  a {
    display: inline-block;
    padding: $base-padding/4 $base-padding/2;
    color: rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}

// For cover photo
.home-header {
  background: #150d0a url(https://seanockert.com/images/sean-bamboo.jpg) bottom center no-repeat;
  background-size: cover;
  padding: $base-padding 0;
  min-height: 390px;

  .header-inner {
    color: #fff;

    h1,
    h2 {
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

      span {
        display: inline-block;
      }
    }

    h2 {
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    li {
      font-size: $font-size-small;
      letter-spacing: 0.1em;
    }
  }

  .contacts {
    position: absolute;
    bottom: $base-padding/2;
    left: 0;
    width: 100%;
    z-index: 10;

    a,
    h3 a {
      color: rgba(255, 255, 255, 0.6);

      &:hover,
      &:active {
        color: #fff;
      }
    }

    h3 {
      margin: 0;
    }
  }
}

.parallax {
  overflow: hidden;

  #bamboo {
    background-image: url(https://seanockert.com/images/sean-bamboo-bg.jpg);
    -webkit-perspective: 400px;
    -webkit-perspective-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateZ(10px);
    overflow: hidden;
  }

  #fg {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(15px);
  }
}

.home-content {
  background: $color-off-white;

  .inner {
    padding: $base-padding $base-padding/2;
    padding-bottom: 0;
  }

  ul {
    margin-bottom: $base-padding;
  }

  #projects {
    h2 {
      margin-bottom: 0;
    }

    a {
      color: $color-text-light;
      display: block;
      padding: $base-padding 0;
      padding-right: $base-padding;
      text-decoration: none;

      &.fruitninja {
        background: #fedea7;
      }

      &.halfbrick {
        background: #ef6524;
        color: #fff;

        h3,
        p,
        .link {
          color: #fff;
        }
      }

      img {
        border-radius: 6px 6px 0 0;
      }

      .project {
        padding: 0 $base-padding;
        padding-bottom: $base-padding;
        @include vendor-prefix(transition, all 0.2s ease-out);
      }

      h3 {
        color: $color-dark-blue;
      }

      p {
        margin: 0;
        margin-bottom: $base-padding/4;
        color: $color-text-light;

        span {
          white-space: nowrap;
        }
      }

      .link {
        color: $color-blue;
        text-transform: uppercase;
        font-size: $font-size-small;
        letter-spacing: 0.1em;

        span {
          opacity: 0;
          @include vendor-prefix(transition, all 0.2s ease-out);
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;
        @include vendor-prefix(transform, translate3d(5px, 0, 0));

        p {
          color: $color-dark-blue;
        }

        .link {
          text-decoration: underline;
          color: darken($color-blue, 15%);
        }
      }
    }

    li {
      padding: 0;
      margin: 0;

      a {
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          content: "\232a";
          margin-left: $base-padding;
          margin-top: 50px;
          color: $color-yellow;
          opacity: 0;
          font-size: 40px;
          @include vendor-prefix(transition, all 0.2s ease-in-out);
          @include vendor-prefix(transform, translate3d(-30px, 0, 0));

          &:hover,
          &:focus {
            &:after {
              opacity: 1;
              @include vendor-prefix(transform, translate3d(5px, 0, 0));
            }
          }
        }
      }
    }
  }

  #projects .intro {
    margin: 0;
    margin-bottom: $base-padding*2;

    p {
      font-size: $font-size-base;
      margin: 0;
      margin-bottom: $base-padding/2;
      color: $color-text-light;

      &:last-child {
        margin: 0;
      }
    }

    a {
      display: inline;
      padding: 0;
      color: $color-blue;
      white-space: nowrap;

      &:hover,
      &:focus {
        text-decoration: underline;
        transform: none;
      }
    }

    strong {
      color: #111;
    }

    h4 {
      font-size: $font-size-medium;
      font-weight: $strong;
      display: block;
      margin: 0;
      margin-bottom: $base-padding/4;
      line-height: 1.1;

      span {
        color: $color-red;
      }
    }
  }

  .skills {
    h2 {
      margin-bottom: $base-padding;
    }

    li {
      padding: 0;
      color: $color-text-light;

      strong {
        color: $color-dark-blue;
      }
    }
  }

  .cta {
    font-size: $font-size-medium;
    text-align: center;
    font-weight: $strong;
    padding: $base-padding/2;
    padding-bottom: 0;
    color: $color-dark-blue;
    line-height: 1.1;
    display: block;
    @include vendor-prefix(transition, all 0.2s ease-out);

    span {
      color: $color-base;
    }

    img {
      height: 60px;
      width: auto;
      margin: 0 auto;
      margin-bottom: $base-padding/4;
      display: block;
    }

    img.face {
      display: block;
      margin: 0 auto;
      margin-bottom: $base-padding/4;
      width: 50%;
      border-radius: $base-padding/4;
      border-radius: 50%;
      @include vendor-prefix(transform, rotate(3deg));
      @include vendor-prefix(transition, all 0.2s ease-out);
    }
  }
}

.home-content h2,
.page-section h3 {
  font-size: $font-size-base;
  color: $color-text;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: $base-padding;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid $color-yellow;
  padding-bottom: $base-padding/2;
}

/* Figures  ---------------------- */

@media #{$medium-up} {
  figure.img-two {
    img {
      width: 49%;
    }
  }

  figure.img-three {
    img {
      width: 32%;
    }
  }
}


/* Footer  ---------------------- */

#footer {
  padding: $base-padding*2 0;
  text-align: center;
  font-size: $font-size-small;
  color: rgba(0, 0, 0, 0.5);
  border: none !important;

  a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: $color-base;
    }
  }
}
