$resize-ridge: 1.4;

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html,
body { 
  font-size: $font-size-base;
  width: 100%;
  height: 100%;    
}

html { 
  background: #fff url(#{$asset-path}/paper-fibers.jpg);
}

// Default body styles
body {
  padding: 0;
  font-family: $typeface-primary;
  line-height: 1;
  position: relative;
  color: $color-text;
  text-align: center;
  margin: 0 auto;  
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; 
}


a { 
  color: $color-blue;
  text-decoration: underline;
  
  &:hover {
    color: darken($color-blue, 20%);
  }
}

p {
  line-height: 1.3;
}

.hidden-large { display: inline-block !important; }
.hidden-small { display: none !important; }

.left { float: left; }
.right { float: right; }

.v-align {
  @include vertical-align;
  @include vendor-prefix(transform, translateY(-50%)); 
}

.browsehappy {
  background: $color-red;
  color: #fff;
  padding: $base-padding/2;
  margin: 0;
  
  a {
    color: #fff;
  }
}


/* Headings  ---------------------- */

h2, h3, h4 {
  margin-top: 0;
  font-family: $typeface-header;
  color: $color-text;
  font-weight: normal;
  line-height: 1.1;
}

h2 {
  font-size: $font-size-large;
  color: $color-dark-purple;
  text-transform: uppercase;

  strong {
    font-weight: normal;
    color: $color-xbox-green;
  }  
} 
     
h3 {
  color: #fff;
  font-size: $font-size-med;
  margin-bottom: 12px;
  text-transform: uppercase;
  
  small {
    display: inline-block;
    color: #fff;
    background: $color-yellow;
    padding: 3px 4px;
    margin-top: -3px;
    line-height: 1;
    font-size: 0.6em;
    vertical-align: middle;
    border-radius: 4px;
  }
}

h4 {
  font-weight: normal;
  font-size: $font-size-med;
  text-transform: uppercase;
  color: $color-dark-red;
}


.xbox-banner, .xbox-banner2 {
  background: $color-xbox-green;
  text-align: center;
  display: block;
  padding: $base-padding/4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  
  font-family: $typeface-header;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  
  &:hover {
    color: #fff;
    background: tint($color-xbox-green, 10%);
  }

  img {
    height: 20px;
    width: auto;  
    height: 44px;
    margin-bottom: -18px;
    margin-top: -3px;
  }
}

.xbox-banner2 {
  line-height: 0;
      
  img {
    height: 20px;
    margin: 0;
  }
}


#header {
  width: 100%;
  background: #181B12 url(#{$asset-path}/fnk-bg-blue.jpg) 50% 50% no-repeat;
  /*background: #E34626 url(../images/fnk-bg-orange2.jpg) 50% 50% no-repeat;*/
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 300px;

  h1 {
    color: #F7F6F6;
    margin: 0;
    z-index: 999;
    margin: 0 auto;
    line-height: 0;
    pointer-events: none;

    img {
      width: 100%;
      max-width: 1000px;
      line-height: 0;
      padding-top: $base-padding;
    }
  }
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(images/grid.png);
  z-index: 98;
}

#main {

  h2 {
    color: $color-text;
    color: $color-dark-purple;
    text-transform: uppercase;

    strong {
      font-weight: normal;
      color: $color-xbox-green;
    }

    em {
      font-style: normal;
      color: #583C90;
    }

    sup {
      font-size: 0.4em;
      top: -1.1em;
    }

  }

  .intro {
    font-size: $font-size-med;
    line-height: 1.45;
  }

  .callout {
    background: #E52D27;
    padding: $base-padding/2;
    margin-bottom: $base-padding;
    color: #fff !important;
    border-radius: 6px;

    h2 {
      margin-bottom: $base-padding/3;
      color: #fff;
    }

    h3 {
      color: #fde6e5;
    }

  }

}

.section {

  padding: $base-padding 0;
  line-height: 1.45;

  &#download {
    background: url(#{$asset-path}/ninja-poses.png) no-repeat bottom center;
  }

  &.video {
    .flex-video {
      max-width: 700px;
      margin: 0 auto;
      box-shadow: 0 0 16px rgba(0,0,0,0.6);
      z-index: 999;
      border-radius: 6px;
    }
  }


  &.description {
    font-size: $font-size-med;

    p, li {
      line-height: 1.5;
    }

    li {
      margin-bottom: $base-padding;
      font-size: $font-size-base;
      text-align: left;

      p {
        overflow: hidden;
        margin: 0;
      }
    }

    .char {
      height: auto;
      max-width: 30%;
    }

    h3 {
      display: block;
      color: $color-dark-red;
      text-shadow: none;
      margin: 0;
      margin-bottom: $base-padding/4;
      line-height: 1.2;
    }
    
    h4 {
      color: $color-dark-purple;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      display: inline-block;
      padding: $base-padding/2 $base-padding/2;
    }

    img.left {
      overflow: hidden;
      height: auto;
      width: 70px;
      float: left;
      margin-right: $base-padding/2;
    }

  }

  &.video, &.screens {
    background: #602D1A url(#{$asset-path}/fnk-bg-wood.jpg) no-repeat 50% 0%;
    background-size: 845px 473px;
  }

  &.campaign {
    background: #47B8F7;
    display: block;
    text-decoration: none;
    padding: 0 !important;
    line-height: 0;
    @include vendor-prefix(transition, all 0.15s ease-out);
    
    img {
    }
  }

  &.screens {
    
    h2 {
      color: #fff !important;
    }
    
    h2, h3 {
      text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    }

    .fb-photos {
      li {
        display: inline-block;
      }

      strong {
        display: block;
        color: $color-yellow;
        font-size: $font-size-small;
        margin-top: -6px;
      }

      img {
        width: 58px;
        height: auto;
        padding: 2px;
        border: 2px solid #AE7647;
        margin: 0;
      }

      a:hover {
        img {
          background: $color-yellow;
          border-color: $color-yellow;
          @include vendor-prefix(transform, rotate(2deg));
        }
      }
    }
  }

  &.social {

    h2 {
      margin-top: $base-padding;
      margin-bottom: $base-padding;
    }

    hr {
      max-width: 400px;
      margin: 0 auto;
      margin-top: $base-padding;
    }

    .more-games {
      li {
        a {
         color: $color-text;
         text-decoration: none;
         font-weight: bold;
         font-size: $font-size-base;

         img {
          width: 90px;
          margin: $base-padding/4;
         }
        }
      }
    }

  }

  &.social li, .social-media li {
    display: inline-block;

    a {
      display: block;
      text-align: center;

      img {
        height: auto;
      }
    }
  }

  .social-media {
    overflow: visible;
    
    li {
      position: relative;
 
      &:first-child {
        &:before {
          display: block;
          position: absolute;
          height: 36px;
          width: 108px;
          left: -150px;
          top: 0px;
          content: ' ';
          background: url(#{$asset-path}/fan-arrow.png) no-repeat;
          background-size: 108px 36px;
          left: -50px;
          top: 50px;
          @include vendor-prefix(transform, rotate(-20deg));
        }
      }      

      a {
       width: 70px;
       padding: 0 12px;
      }
    }
  }

  &.footer {
    padding-top: 0;

    img {
      height: 30px;
      width: auto;
      margin: 0 $base-padding/4;
    }
        
    a {
      color: #000;
      text-decoration: none;

      
      &:hover, &:focus {
        text-decoration: none;

      }
    }    
    
    p {
      font-size: $font-size-small;
      line-height: 1.5;    
      
      a {
        border-bottom: 1px dotted #ddd;      
        
        &:hover {
          color: $color-blue;
          border-bottom: 1px solid $color-blue;          
        }  
      }  
    }

  }
  
  background-size: cover;  
}





#content {
  position: absolute;
  max-width: 600px;
  margin: $base-padding auto;
  z-index: 2;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  text-align: center;
  z-index: 100;
}

.character {
  position: absolute;
  bottom: 0;
  height: 490px;
  width: auto;
  z-index: 99;
  
  &.left {
    left: 60px;
  } 
   
  &.right {
    right: 20px;
  }
}


img.rating {
  height: 60px;
  width: auto;
  display: inline-block;
  margin-bottom: $base-padding/2;
}