/*! 
Site Name:      Star Sk8r
Site URI:     	https://starsk8r.com 
Description:    Star Sk8r coming soon page
Author:         Sean Ockert, Halfbrick Studios
Author URI:     https://halfbrick.com
Version:        0.1
*/

@import "reset";

@import "variables";
@import "grid";
@import "block-grid";
@import "flex-video";
@import "animation-mixins";
@import "animations";
@import "magnific-popup";
@import "box-shadow";
@import "swipe";
@import "global";
@import "small";
@import "medium";
@import "large";