
/* Desktop and up media queries  ---------------------- */
  
@media #{$large-up} {

  .header {
    min-height: 400px;
    background-size: 100% auto;
    
    &.has-arrow .arrow { 
      height: 34px;
      width: 34px;
      background-size: 34px 34px; 
      margin-left: -17px;
    }
    
    .merch { 
      width: 250px;
      left: 30px;
    }    
       
  }
  
  .row.you-social { 
    a {
      min-height: 70px;
      text-align: left;
      
      div {
        width: 280px;
        margin: 0 auto;
      }
      
      img, span {
        display: inline-block;
        float: left;
      }
      
      span {
        width: 200px;
        margin-top: $base-padding;
        padding-left: $base-padding/2;
      }
    }
  }
  
  #infographic {       
    ul { text-align: center;}
    
    li {
      display: inline-block;
      float: none;
      width: 32.5%;
    }   
  }
  
 

}   

@media #{$xlarge-up} {

  .header {
    min-height: 700px; 
  }
  
}		