/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;

  > div {
    float:left;
    width:100%;
    position: relative;
  }
}

/* END required styles */



/* START styles */

#slider {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: $base-padding;

  .content-section-quote {
    width: 90% !important;
    margin: 0 auto;
  }  
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 999;
  @include vendor-prefix(transform-origin, 50% 50%);
  
  img {
    height: 60px;
    width: auto;
  }
  
  &:active {
    @include vendor-prefix(transform, scale(0.85));
  }
}


.arrow-left, .arrow-right {
  display: none;
}


@media #{$medium-up} {
 
  #slider {
    
    &:before {
      display: block;
      position: absolute;
      height: 56px;
      width: 155px;
      left: 10px;
      bottom: 0px;
      content: ' ';
      background: url(#{$asset-path}/download-arrow.png) no-repeat;
    }  
    
    .content-section-quote {
      width: 80% !important;
      margin: 0 auto;
    }
  } 
  
  .arrow-left,
  .arrow-right {
    display: block;
    margin-top: -45px;
    
    img {
      height: 70px;
    }
  }

  .arrow-left {
    left: 0px;
  }
  .arrow-right {
    right: 0px;
  }
  
  
}

@media #{$large-up} {
  
  .arrow-left {
    left: 10px;
  }
  .arrow-right {
    right: 10px;
  }
  
}


/* END styles */