$base-padding: 12px;

$color-blue: #1ca1d2;
$color-green: #3fd920;
$color-yellow: #ffc907;

$color-light-text: #727272;
$color-mid-grey: #999;
$color-light-grey: #ddd;
$color-dark: #303943;

$font-size-small: 0.875rem;
$font-size-base: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.4rem;

$transition: cubic-bezier(.62,.28,.23,.99);