/* Buttons ---------------------- */

.button {
  display: inline-block;
  padding: $base-padding/2 $base-padding;
  border-radius: $base-padding;
  font-family: $typeface-header;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  text-decoration: none !important;
  color: #fff;
  background: $color-base;
  @include vendor-prefix(transition, all 0.15s ease-out);
  @include vendor-prefix(transform-origin, center center);

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    padding: $base-padding/2 $base-padding*1.2;
    background: darken($color-base, 15%);
    box-shadow: none;
    @include vendor-prefix(transform, scale(1.05,1.05));
  }

  &:active {
    @include vendor-prefix(transform, scale(0.95,0.9));
  }

  &.block {
    display: block;
  }
}

.row {
  .button {
    font-size: 16px;
  }
}

.inner:hover,
.inner:focus {
  .button {
    background: darken($color-base, 20%);
    padding: $base-padding/2 $base-padding*1.2;
  }
}

.inner:active {
  .button {
    padding: $base-padding/2 $base-padding*1.1;
  }
}

@media #{$medium-up} {

}