/* Chat  ---------------------- */

#chat {
  padding: $base-padding/4;
  padding-bottom: $base-padding;
  padding-top: 0;
  max-width: 760px;
  margin: 0 auto;
  font-weight: $normal;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    span, a {
      display: inline-block;
      max-width: 90%;
      background: $color-chat-grey;
      margin-bottom: $base-padding/4;
      border-radius: 24px 24px 24px 4px;
      padding: $base-padding/3 $base-padding/2;
      text-decoration: none;
      position: relative;
      hyphens:auto;
      -webkit-hyphens:auto;
      -webkit-hyphenate-character:"\2010";
      -webkit-hyphenate-limit-after:1;
      -webkit-hyphenate-limit-before:3;
      -moz-hyphens:auto;
      @include vendor-prefix(transition, all 0.15s ease-out);
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    }

    &.option {
      text-align: left;

      a {
        float: right;
        background: $color-base;
        color: #385216;
        border-radius: 24px 24px 4px 24px;
        color: #fff;
        margin: $base-padding/8;
        margin-top: 0;

        &:hover,
        &:focus,
        &:active {
          background: darken($color-base, 15%);
          @include vendor-prefix(transform-origin, center center);
          @include vendor-prefix(transform, scale(1.05,1.05) rotate(-1deg) translate3d(0, -5px, 0));
        }

        &:active {
          padding: $base-padding/2 $base-padding*0.9;
        }

        &.disabled,
        &.disabled:hover,
        &.disabled:active {
          color: $color-mute;
          background: $color-light-grey;
          cursor: default;
          @include vendor-prefix(transform, scale(1,1) rotate(0deg) translate3d(0, 0, 0));
        }
      }
    }

    &:after {
      display: block;
      content: '';
      clear: both;
      width: 100%;
    }

  }
}

svg {
  width: 1em;
  height: 1em;
  font-size: 29px;
  fill: white;
}


.loading,
.loading:before,
.loading:after {
  height: 8px;
  width: 8px;
  display: block;
  border-radius: 50%;
  background: #999;
}

.loading {
  position: relative;
  margin: 6px 15px;
  @include vendor-prefix(animation, opacity 1s 0.6s ease-out infinite);
  background: #aaa;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
  }

  &:before { left: -11px; @include vendor-prefix(animation, opacity 1s 0.1s  ease-out infinite); }
  &:after { right: -11px; @include vendor-prefix(animation, opacity 1s 1.2s ease-out infinite); }
}



/* Animations ---------------------- */

.fly-up-right {
  opacity: 1;
  @include vendor-prefix(transform-origin, top right);
  @include vendor-prefix(animation, flyUpRight 0.4s);
}

.fly-out {
  @include vendor-prefix(transform-origin, center right);
  @include vendor-prefix(animation, flyOut 0.3s);
  @include vendor-prefix(animation-fill-mode, forwards);
}

.slide-in {
  @include vendor-prefix(transform-origin, bottom left);
  @include vendor-prefix(animation, slideIn 0.4s);
  @include vendor-prefix(animation-fill-mode, forwards);
}

.slide-out {
  @include vendor-prefix(animation, slideOut 0.2s);
  @include vendor-prefix(animation-fill-mode, forwards);
}

.shrink {
  overflow: hidden;
  white-space: nowrap;
  @include vendor-prefix(transform-origin, center right);
  @include vendor-prefix(animation, shrink 0.1s);
  @include vendor-prefix(animation-fill-mode, forwards);
}

