#modal {
	display:none;
	color:#444;
	font-size:16px;
	font-weight:normal;
	text-transform:none;
	width:94%;
	position:absolute;
	left:3%;
	top:3%;
	text-align:left;
	padding:20px;
	z-index:999;
	background:#F9F9F9;
	box-shadow:0 0 3px rgba(0,0,0,0.8);
	
	a.close{
		color:#007dc4;
		float:right;
		margin-top:-20px;
		margin-right:-20px;
		padding:20px
	}
}
	
#modal.visible {
	display: block;
}