
/* Button Animations */

@include keyframes(bounce)
{
    0% { @include transform(scale(1,1)); }
    50% { @include transform(scale(1.05,0.95)); }
    100% { @include transform(scale(1,1)); }
} 

@include keyframes(press)
{
    0% { @include transform(scale(1,1)); }
    50% { @include transform(scale(0.7,0.85)); }
    100% { @include transform(scale(0.9,0.9)); }
} 

@include keyframes(bounceIn)
{
    0% { opacity: 1; @include transform(scale(0,0)); }
    50% { opacity: 1; @include transform(scale(1.1,0.9)); }
    100% { opacity: 1; @include transform(scale(1,1)); }
}  

/*@include keyframes(jiggle)
{
    0% { @include transform(rotate(0deg)); }
    25% { @include transform(rotate(5deg)); }
    50% { @include transform(rotate(0deg)); }
    75% { @include transform(rotate(-5deg)); }
    100% { @include transform(rotate(0deg)); }
}*/ 

@include keyframes(float)
{
    0% { opacity: 1; @include transform(translate3d(0,0,0)); }
    25% { @include transform(translate3d(3px,-3px,0)); }
    50% { @include transform(translate3d(-1px,1px,0)); }
    75% { @include transform(translate3d(-5px,-3px,0)); }
    100% { opacity: 1; @include transform(translate3d(0,0,0)); }
}  


/* Button Animations */


@include keyframes(notification)
{
    0% { @include transform(scale(1,1)); }
    5% { @include transform(scale(1.05,0.95) translate3d(-10px,0,0)); }
    7% { @include transform(scale(1,1) translate3d(0,0,0)); }
} 

.button-download:hover,
.bounce:hover, 
.button:hover, 
.social:hover, 
#arrow-right:hover, 
.mfp-close:hover {
  display: none;
    @include animation(bounce 0.2s ease-in-out);    
}
    

.bounce:active, 
.button:active, 
.social:active, 
#arrow-right:active,
.mfp-close:active {
    @include animation(press 0.2s ease-in-out); 
}

#nav sup {
    @include animation(notification 4s infinite); 
}


// Modal animations

/* overlay */
.mfp-bg {
  opacity: 0;
  @include vendor-prefix(transition, all 0.15s ease-out);
}
.mfp-bg.mfp-ready { opacity: 0.3; }
.mfp-bg.mfp-removing { opacity: 0; }

/* content */

.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  @include vendor-prefix(transform, translate3d(0,0,0) scale(1,1));
}