
/* Swipe 2 required styles */
.swipe {
	overflow: hidden;
	overflow: visible;
	visibility: hidden;
	position: relative;
}

.swipe-wrap {
	overflow: hidden;
	overflow: visible;
	position: relative;
	div {
		float:left;
		width:100%;
		position: relative;  
	}
}

/* END required styles */


#slide-wrap {
	height: auto;
	width: 100%;
	background: #111;	
	overflow: hidden;
	line-height: 0;
	position: absolute;
	top: 0;
	z-index: 1;	

	#slider {
		position:relative;
		height: auto;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
		clear: both;
		max-height: 852px;
	
		.swipe-wrap > div {
			text-align: center;
			z-index: 997;
			cursor: default;	
			position: relative;
			min-height: 365px;
			
			background-color: #111;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			height: inherit;			
			
			
			&.active {
				z-index: 999;
				cursor: default;	
			}					
		}
		
		.logo {
			margin-top: 50px;
			cursor: default;	
			height: auto;
			max-height: 250px;
		}						
		
		#slide_0 { z-index: 29; background-image: url(#{$asset-path}/banners/banner-fn-characters.jpg); }
		#slide_1 { z-index: 28; background-image: url(#{$asset-path}/banners/banner-fnk1.jpg); }
		#slide_2 { z-index: 27; background-image: url(../images/banners/banner-fnamm.jpg); }
		#slide_3 { z-index: 26; background-image: url(../images/banners/banner-fnk2.jpg); }
		/*#slide_4 { z-index: 25; }	*/
		
		a.button.button-download {
			margin-top: $base-padding/2;
			width: 160px;
			display: inline-block;
		}
			
	}
}


#arrow-next {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 46px;
	width: 46px;
	padding: 10px;
	z-index: 999;
	text-align: center;
	
	img {
		width: 23px;
		height: 23px;
	}
}


@media #{$medium-up} {
	
	#slide-wrap {
		
		position: absolute;
			
		#slider {
		
			.swipe-wrap > div {
				min-height: 710px;		
			}
		
			.logo {
				width: 380px;
				margin-top: 70px;
				max-height: auto;
			}

			a.button.button-download {
				display: none;
			}
			
		}
	}
	
	#arrow-next {
		display: none
	}
	
}

@media #{$large-up} {
	#slide-wrap {
		
		#slider {
			.swipe-wrap > div {
				min-height: 850px;							
			}
				
			.logo {
				width: auto;
				margin-top: 50px;
				max-height: 300px;
			}

		}
		
	}

}		